<app-header [title]="headerTitle" [color]="headerColor"></app-header>
<div fxLayout fxLayoutAlign="center center">
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ event.date.seconds * 1000 | date }}</mat-card-title>
        <mat-card-subtitle>{{ event.type }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Lectors, Cantor & Gift Bearers
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                Cantor: {{ event.cantor }}
                <mat-icon *ngIf="!event.cantor">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Lector 1: {{ event.lector1 }}
                <mat-icon *ngIf="!event.lector1">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Lector 2: {{ event.lector2 }}
                <mat-icon *ngIf="!event.lector2">person</mat-icon>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Extra Ordinary Ministers of Holy Communion
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                EMoHC 1: {{ event.eMoHC1 }}
                <mat-icon *ngIf="!event.eMoHC1">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                EMoHC 2: {{ event.eMoHC2 }}
                <mat-icon *ngIf="!event.eMoHC2">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                EMoHC 3: {{ event.eMoHC3 }}
                <mat-icon *ngIf="!event.eMoHC3">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                EMoHC 4: {{ event.eMoHC4 }}
                <mat-icon *ngIf="!event.eMoHC4">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                EMoHC 5: {{ event.eMoHC5 }}
                <mat-icon *ngIf="!event.eMoHC5">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                EMoHC 6: {{ event.eMoHC6 }}
                <mat-icon *ngIf="!event.eMoHC6">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                EMoHC 7: {{ event.eMoHC7 }}
                <mat-icon *ngIf="!event.eMoHC7">person</mat-icon>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Ushers & Technology </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                Usher 1: {{ event.usher1 }}
                <mat-icon *ngIf="!event.usher1">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Usher 2: {{ event.usher2 }}
                <mat-icon *ngIf="!event.usher2">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Usher 3: {{ event.usher3 }}
                <mat-icon *ngIf="!event.usher3">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Usher 4: {{ event.usher4 }}
                <mat-icon *ngIf="!event.usher4">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Usher 5: {{ event.usher5 }}
                <mat-icon *ngIf="!event.usher5">person</mat-icon>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Servers, Rosary & Other </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                Server 1: {{ event.server1 }}
                <mat-icon *ngIf="!event.server1">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Server 2: {{ event.server2 }}
                <mat-icon *ngIf="!event.server2">person</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                Server 3: {{ event.server3 }}
                <mat-icon *ngIf="!event.server3">person</mat-icon>
              </mat-list-item>
              <mat-list-item>
                Rosary 1: {{ event.rosary1 }}
                <mat-icon *ngIf="!event.rosary1">person</mat-icon>
              </mat-list-item>
              <mat-list-item>
                Rosary 2: {{ event.rosary2 }}
                <mat-icon *ngIf="!event.rosary2">person</mat-icon>
              </mat-list-item>
              <mat-list-item>
                Other: {{ event.other }}
                <mat-icon *ngIf="!event.other">person</mat-icon>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions align="center">
        <div fxLayout fxLayoutAlign="space-evenly">
          <button
            mat-stroked-button
            routerLink="/events"
            matRipple
            color="primary"
          >
            <mat-icon>arrow_back</mat-icon>
            Events
          </button>
          <button
            mat-stroked-button
            routerLink="/events/edit-event/{{ id }}"
            matRipple
          >
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button
            mat-stroked-button
            color="accent"
            [routerLink]="['/printing/schedule/', id]"
          >
            <mat-icon>print</mat-icon>
            Print
          </button>
          <button
            (click)="onDeleteClicked()"
            mat-stroked-button
            matRipple
            color="warn"
          >
            <mat-icon>delete_outline</mat-icon>
            Delete
          </button>
        </div>
      </mat-card-actions>
      <mat-card-footer align="end">
        <p>
          <span>Event is Full: </span>
          <mat-checkbox [disabled]="true" [checked]="event.isFull">
          </mat-checkbox>
        </p>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
