mat-card {
  margin-top: 2rem;
  margin-left: 2rem;
  min-width: 450px;
  max-width: 80%;
  background-color: #ecf0f1;
}

.container {
  margin-top: 1rem;
}

.admin-avail {
  padding-top: 0.5rem;
}

.footer {
  padding: 0 0.5rem;
}

span {
  font-weight: bold;
}

.full-width-table {
  width: 100%;
}
