<app-header [title]="headerTitle" [color]="headerColor"> </app-header>

<div class="container" fxLayout fxLayoutAlign="center center">
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ volunteer.firstName }} {{ volunteer.lastName }}</mat-card-title
        >
        <mat-card-subtitle>Email: {{ volunteer.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="center">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Volunteer Address
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Address 1: {{ volunteer.address1 }}</p>
            <p>Address 2: {{ volunteer.address2 }}</p>
            <p>City: {{ volunteer.city }}</p>
            <p>State: {{ volunteer.state }}</p>
            <p>Zipcode: {{ volunteer.zipcode }}</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Volunteer Stewardships
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-evenly">
              <div fxLayout="column">
                <p fxFlexAlign="end">
                  <span>EMoHC: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isEMoHC">
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Cantor: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isCantor"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Lector: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isLector"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Usher: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isUsher">
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Server: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isServer"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Mass Cord: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isMassCoord"
                  >
                  </mat-checkbox>
                </p>
              </div>

              <div fxLayout="column">
                <p fxFlexAlign="end">
                  <span>Gifts: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isGifts">
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Gifts Child: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isGiftsChild"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Rosary: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isRosary"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Technology: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isTech">
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Other: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isOther">
                  </mat-checkbox>
                </p>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Un-Available Dates
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <p>Hello</p>
              <p>Hello</p>
              <p>Hello</p>
              <p>Hello</p>
              <p>Hello</p>
              <p>Hello</p>
            </div>
            <!-- <table mat-table class="full-width-table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>September 18, 2020</td>
                </tr>
              </tbody>
            </table> -->
          </mat-expansion-panel> -->
        </mat-accordion>
        <div class="admin-avail">
          <p>
            <span>Is Available: </span>
            <mat-checkbox [disabled]="true" [checked]="volunteer.isAvailable">
            </mat-checkbox>
          </p>
          <p>
            <span>Is Administrator: </span>
            <mat-checkbox [disabled]="true" [checked]="volunteer.isAdmin">
            </mat-checkbox>
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions align="center">
        <div fxLayout fxLayoutAlign="space-evenly">
          <button
            mat-stroked-button
            routerLink="/volunteers"
            matRipple
            color="primary"
          >
            <mat-icon>arrow_back</mat-icon>
            Volunteers
          </button>
          <button
            mat-stroked-button
            routerLink="/volunteers/edit-volunteer/{{ id }}"
            matRipple
            color="accent"
          >
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button
            (click)="onDeleteClicked()"
            mat-stroked-button
            matRipple
            color="warn"
          >
            <mat-icon>delete_outline</mat-icon>
            Delete
          </button>
        </div>
      </mat-card-actions>
      <mat-card-footer align="end">
        <div class="footer" fxLayout fxLayoutAlign="space-between">
          <div>
            <p><span>Family ID:</span> {{ volunteer.familyID }}</p>
          </div>
          <div>
            <p><span>Phone:</span> {{ volunteer.phone | phone }}</p>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
